body{

background:
linear-gradient(
135deg,
#0a1035,
#4a1eb8
);

font-family:
Arial,sans-serif;

color:white;

min-height:100vh;
}

.navbar{

padding:20px;
}

.logo{

font-size:30px;

font-weight:bold;

color:white!important;
}

.btn-glow{

background:#7b61ff;

color:white;

border:none;

padding:12px 20px;

border-radius:30px;

box-shadow:
0 0 20px #7b61ff;
}

.hero{

padding:50px 0;
}

.tag{

display:inline-block;

padding:10px 18px;

border-radius:20px;

background:rgba(255,255,255,.15);
}

.hero h1{

font-size:60px;

font-weight:bold;
}

.hero span{

color:#8ea2ff;
}

.hero-text{

margin-top:20px;

opacity:.8;
}

.cards{

display:flex;

gap:15px;

margin-top:30px;

flex-wrap:wrap;
}

.mini-card{

background:
rgba(255,255,255,.1);

padding:15px;

border-radius:15px;

backdrop-filter:
blur(8px);

transition:.4s;
}

.mini-card:hover{

transform:
translateY(-6px);
}

.robot{

font-size:170px;

animation:
float 2s infinite alternate;
}

@keyframes float{

from{
transform:
translateY(0);
}

to{
transform:
translateY(-20px);
}
}

.todo-box{

margin-top:40px;

background:white;

color:black;

padding:30px;

border-radius:25px;

box-shadow:
0 0 35px rgba(255,255,255,.2);
}

.todo-box h2{

text-align:center;
}

#date{

text-align:center;

color:gray;
}

.add-btn{

background:#6a5cff;

color:white;
}

.status{

display:flex;

justify-content:space-between;

margin-bottom:20px;
}

.status-box{

font-weight:bold;
}

ul{

padding:0;
}

li{

list-style:none;

background:#f5f5f5;

margin-top:15px;

padding:15px;

border-radius:15px;

display:flex;

justify-content:space-between;

align-items:center;

transition:.3s;
}

li:hover{

transform:scale(1.02);
}

.completed{

text-decoration:
line-through;

opacity:.5;
}

@media(max-width:768px){

.hero h1{

font-size:40px;
}

.robot{

font-size:100px;
}

}
